flows-nodered-heartbeat.json
[
    {
        "id": "b5344910.7e6f48",
        "type": "subflow",
        "name": "Detect online",
        "info": "",
        "in": [
            {
                "x": 260,
                "y": 100,
                "wires": [
                    {
                        "id": "63fddac8.8bfd84"
                    },
                    {
                        "id": "fb15d24e.33179"
                    },
                    {
                        "id": "29db3623.63d21a"
                    }
                ]
            }
        ],
        "out": [
            {
                "x": 1440,
                "y": 140,
                "wires": [
                    {
                        "id": "9f38ee37.47b2c",
                        "port": 0
                    },
                    {
                        "id": "912be007.d1f3d",
                        "port": 0
                    }
                ]
            }
        ]
    },
    {
        "id": "2c507ce9.2e27b4",
        "type": "delay",
        "z": "b5344910.7e6f48",
        "name": "",
        "pauseType": "delayv",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 870,
        "y": 160,
        "wires": [
            [
                "5ff0758d.d4bfcc"
            ]
        ]
    },
    {
        "id": "912be007.d1f3d",
        "type": "inject",
        "z": "b5344910.7e6f48",
        "name": "Startup",
        "topic": "",
        "payload": "false",
        "payloadType": "bool",
        "repeat": "",
        "crontab": "",
        "once": true,
        "x": 930,
        "y": 260,
        "wires": [
            [
                "5ff0758d.d4bfcc"
            ]
        ]
    },
    {
        "id": "fb15d24e.33179",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "reset",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 670,
        "y": 160,
        "wires": [
            [
                "2c507ce9.2e27b4"
            ]
        ]
    },
    {
        "id": "ec0520fc.4084e",
        "type": "delay",
        "z": "b5344910.7e6f48",
        "name": "",
        "pauseType": "delay",
        "timeout": "10",
        "timeoutUnits": "milliseconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "x": 660,
        "y": 200,
        "wires": [
            [
                "2c507ce9.2e27b4"
            ]
        ]
    },
    {
        "id": "63fddac8.8bfd84",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Online",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "true",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 110,
        "wires": [
            [
                "b97b4585.688dc8"
            ]
        ]
    },
    {
        "id": "5ff0758d.d4bfcc",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "false",
                "tot": "bool"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1030,
        "y": 160,
        "wires": [
            [
                "b97b4585.688dc8"
            ]
        ]
    },
    {
        "id": "9f38ee37.47b2c",
        "type": "rbe",
        "z": "b5344910.7e6f48",
        "name": "",
        "func": "rbe",
        "gap": "",
        "start": "",
        "inout": "out",
        "x": 1300,
        "y": 140,
        "wires": [
            []
        ]
    },
    {
        "id": "29db3623.63d21a",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "delay",
                "pt": "msg",
                "to": "timeout",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 440,
        "y": 200,
        "wires": [
            [
                "ec0520fc.4084e"
            ]
        ]
    },
    {
        "id": "cdadf684.7022c8",
        "type": "comment",
        "z": "b5344910.7e6f48",
        "name": "Each incoming message will retrigger a new timeout (msg.timeout [ms]) before being reported offline",
        "info": "",
        "x": 590,
        "y": 40,
        "wires": []
    },
    {
        "id": "b97b4585.688dc8",
        "type": "change",
        "z": "b5344910.7e6f48",
        "name": "Offline",
        "rules": [
            {
                "t": "set",
                "p": "topic",
                "pt": "msg",
                "to": "isonline",
                "tot": "str"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 1170,
        "y": 140,
        "wires": [
            [
                "9f38ee37.47b2c"
            ]
        ]
    },
    {
        "id": "a19e8e2.c9512f",
        "type": "mqtt in",
        "z": "e5f2326b.739778",
        "name": "",
        "topic": "home/outdoor/weather/heartbeat",
        "qos": "1",
        "datatype": "auto",
        "broker": "89c47141.2fd35",
        "x": 250,
        "y": 120,
        "wires": [
            [
                "b9914f44.55b63"
            ]
        ]
    },
    {
        "id": "38935a02.ca8b86",
        "type": "subflow:b5344910.7e6f48",
        "z": "e5f2326b.739778",
        "name": "",
        "x": 649,
        "y": 120,
        "wires": [
            [
                "d174500e.fe981"
            ]
        ]
    },
    {
        "id": "b9914f44.55b63",
        "type": "change",
        "z": "e5f2326b.739778",
        "name": "Timeout 10 min",
        "rules": [
            {
                "t": "set",
                "p": "timeout",
                "pt": "msg",
                "to": "600000",
                "tot": "num"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 479,
        "y": 120,
        "wires": [
            [
                "38935a02.ca8b86"
            ]
        ]
    },
    {
        "id": "d174500e.fe981",
        "type": "mqtt out",
        "z": "e5f2326b.739778",
        "name": "",
        "topic": "home/outdoor/weather/status",
        "qos": "2",
        "retain": "true",
        "broker": "89c47141.2fd35",
        "x": 859,
        "y": 120,
        "wires": []
    },
    {
        "id": "89c47141.2fd35",
        "type": "mqtt-broker",
        "z": "",
        "name": "mqtt.tld.de",
        "broker": "mqtt.tld.de",
        "port": "8883",
        "tls": "dab1e87b.a61058",
        "clientid": "",
        "usetls": true,
        "compatmode": true,
        "keepalive": "60",
        "cleansession": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "willTopic": "",
        "willQos": "0",
        "willPayload": ""
    },
    {
        "id": "dab1e87b.a61058",
        "type": "tls-config",
        "z": "",
        "name": "",
        "cert": "",
        "key": "",
        "ca": "",
        "certname": "",
        "keyname": "",
        "caname": "",
        "servername": "",
        "verifyservercert": false
    }
]